.sobre {
  margin: 12%;
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.sobre img {
  width: 800px;
  height: 455px;
  display: flex;
  align-self: center;
  border: 3px solid #488fb1; 

}
